@media (max-width: 1300px) {
  .footer__up-btn {
    display: none;
  }
}

@media (max-width: 1170px) {
  .new__container {
    max-width: 966px;
  }
}

@media (max-width: 1100px) {
  .footer .container {
    max-width: 768px;
  }
  .footer-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__contacts {
    margin-bottom: 40px;
  }
  .footer__categories {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
  }
  .footer__categories .footer__list {
    height: 164px;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 288px;
  }
  .footer__menu .footer__list {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .footer-reviews {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }
}

@media (max-width: 740px) {
  .footer {
    padding-top: 30px;
  }
  .footer-main {
    padding-bottom: 0;
  }
  .footer__title {
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
  }
  .footer__title:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    background-image: url("/images/icons/footer-arrow-down.svg");
    background-repeat: no-repeat;
    right: 0;
    top: 50%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: rotate(180deg) translateY(-50%);
            transform: rotate(180deg) translateY(-50%);
  }
  .footer__title--open:after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .footer__list {
    margin-top: 15px;
    height: none;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .footer__contacts {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__categories {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__categories .footer__list {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__menu .footer__list {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .footer-reviews {
    width: 285px;
    margin: 10px auto 0;
    font-size: 14px;
    line-height: 19px;
  }
  .footer-reviews .footer__title:after {
    display: none;
  }
  .footer__copyright {
    border-top: none;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__contacts .footer__list {
    width: 280px;
  }
  .footer__contacts .footer__item {
    margin-bottom: 10px;
  }
  .footer__contacts .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__contacts .footer__item-img {
    position: absolute;
    top: 5px;
  }
}

@media (min-width: 741px) {
  .wrapper {
    display: block !important;
  }
}
/*# sourceMappingURL=footer.css.map */